
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conservatory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>



<body>
  <!--Navigation-->
  <div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" style="background-color: #0BADA6;" href="index.html">Visualization</a>
  </nav>
  </div>
  
  <!--Main Content-->

  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">US States and Counties GDP 2015-2019</h1>
        <p class="lead">This is a dashboard of GDP data of US States and Counties for years between 2015 and 2019.</p>
        <hr class="my-4">
        <p>Use the interactive charts below to explore the dataset.</p> 
      </div>
    
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
              <!--<div class="card-header">Header</div>-->
              <div class="card-body">
                <h5 class="card-title">SELECT State:</h5>
                <select id="selDataset" onchange="optionChangedState(this.value)"></select>
              </div>
            </div>        
        </div>
    </div>
    



    <div class="row">
      
        <div class="col-md-6">
          <div class="box">
            <div id="kpi-2015"></div>
            </div> 
        </div>
    
      <div class="col-md-6">
        <div class="box">
          <div id="time-series-chart"></div>
        </div>
    </div>

          
  
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <!--<div class="card-header">Header</div>-->
                <div class="card-body">
                  <h5 class="card-title">SELECT Year:</h5>
                  <select id="selYear"  onchange="optionChangedYear(this.value)"></select>
                </div>
              </div>        
          </div>
      </div>
  
      <div class="row">
          <div class="col-md-6">
              <div class="box">
                <div id="bar-chart" style='height:100%; width: 100%;'></div>
              </div>
          </div>

        <div class="col-md-6">
          <div class="box">
              <div id="map-id"></div>
          </div>

        </div>
        


      </div>  
  </div>
    

    

   
  

 
  
  

  <!--Footer-->

    <footer>
      <div class="footer">&copy; Copyright Conservatory 2020</div>
    </footer>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

    <!--Plotly-->
    <script  src="{{ url_for('static', filename='js/plotlyScript.js') }}"></script>
    <!--config-->
    <script  src="{{ url_for('static', filename='js/appconfig.js') }}"></script>

</body>



    
</html>


